backup
miniimagenet
omniglot
.idea
.venv
__pycache__
learner.py
miniimagenet_train.py
omniglotNShot.py
dataset
miniimagenet_train.py
MiniImagenet.py
omniglot.py
test_exp
few_shot_learning_system.py
han_nom_maml_train.py
meta.py
mobilenet.py
omniglot_train.py
run_han_nom.sh
test.py